.jeffreysbutton {
    background: teal;
    width: 100px;
    height: 100px;
}


div.jumbotron {
    background: url(pics/titlepic2.jpg) center;
    background-size: cover;
    height: 35em !important;
    padding-top: 10em;
    padding-bottom: 10em;
    
}

.display-4 {
    color: whitesmoke;
}

.lead.active {
    color: whitesmoke;
}
body {
    font-family: 'Fredoka One', cursive;
}

/* .jeff-size {
    font-size: 10em;
} */
.navbar{
    padding: 20px 170px;
}

.dropdown:hover div.dropdown-menu{
    text-decoration: none;
        display: block;
}

.dropdown-menu{
    display: none;
}

.card-body {
    background: #111236;

}
.card-title {
    color: aliceblue;
}

.card-text {
    color: #FFB54D;
}

